body {
    text-align: center;
    background-color: rgb(241, 39, 39);
    font-family: "Arial",sans-serif;
}

h1{
    color: blanchedalmond;
}

button{
    padding: 10px;
    font-size: 18px;
    background-color: blanchedalmond;
    color: rgb(22, 122, 214);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: aliceblue;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}